
  <!-- ======= Footer ======= -->
  <%- include('./includes/header') %>

  <!-- ======= NAVBAR ======= -->
  <%- include('./includes/nav') %>
  <audio type="hidden" controls autoplay hidden>
    <source src="/assets/audio/pcshop.mp3" type="audio/ogg">
  </audio>

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative text-center text-lg-left" data-aos="zoom-in" data-aos-delay="100">
      <div class="row">
        <div class="col-lg-8">
          <h1>Welcome to <span>PCSHOPS</span></h1>
          <h2>"Make Everythingas simple as posible,but not simpler"</h2>
          <h5 class="text-center">-Albert Einstein</h5>

          <div class="btns">
            <a href="#menu" class="btn-menu animated fadeInUp scrollto">Hot New</a>
            <a href="#book-a-table" class="btn-book animated fadeInUp scrollto">Order a Product</a>
          </div>
        </div>
        <div class="col-lg-4 d-flex align-items-center justify-content-center" data-aos="zoom-in" data-aos-delay="200">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            <h3>About us</h3>
          </button>
        </div>

      </div>
    </div>
  </section>
  <!-- End Hero -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body  text-center">  >
        <strong  style="color: green;"> <br> Select one</strong> <br>
        <button type="button" href="https://youtu.be/ZCS9bFBOOg4" type="button" class="venobox play-btn btn-success " data-vbtype="video" data-autoplay="true">Admin</button>
        <button type="button" href="#" type="button" class="venobox play-btn btn-warning" data-vbtype="video" data-autoplay="true">Customer</button>
      </div>
    </div>
  </div>
</div>


  <main id="main">


    <!-- ======= Aboutus ======= -->
    <%- include('./includes/aboutus') %>

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Why Us</h2>
          <p>Why does Customer Choose PCSHOPS?</p>
        </div>

        <div class="row">

          <div class="col-lg-4">
            <div class="box" data-aos="zoom-in" data-aos-delay="100">
              <span>01</span>
              <h4>Speed of Service</h4>
              <p>Customers need assistance on time 24/7 and when you provide it to them, they will always trust your business.</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box" data-aos="zoom-in" data-aos-delay="200">
              <span>02</span>
              <h4>Low Product Price</h4>
              <p>
                used for emphasizing that something is worth more than it costs
              </p>
            </div>
            
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box" data-aos="zoom-in" data-aos-delay="300">
              <span>03</span>
              <h4>More Discounts</h4>
              <p>Giving a discounted prices to our customer, PCSHOPS makes be the most Famous in the Philippines</p>
            </div>
          </div>

        </div>

      </div>



      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-lg-4">
              <img src="/assets/img/gif/GIF-1.gif" width="350" class="mt-3" >
          </div>

          <div class="col-lg-4">
            <img src="/assets/img/gif/GIF-2.gif" width="350" class="mt-3" >
        </div>

        <div class="col-lg-4">
          <img src="/assets/img/gif/GIF-3.gif" width="350" class="mt-3" >
      </div>
        </div>
      </div>
    </section>
    
    
    <!-- End Why Us Section -->

    <!-- ======= Menu Section ======= -->
    <%- include('./includes/hotnew') %>
    <!-- End Menu Section -->

    <!-- ======= Limited Edition Section ======= -->
    <%- include('./includes/limited') %>
  

    <!-- ======= Book A Table Section ======= -->
    <section id="book-a-table" class="book-a-table">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Reservation</h2>
          <p>Order</p>
        </div>

        <form action="forms/book-a-table.php" method="post" role="form" class="php-email-form" data-aos="fade-up" data-aos-delay="100">
          <div class="form-row">
            <div class="col-lg-4 col-md-6 form-group">
              <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
              <div class="validate"></div>
            </div>
            <div class="col-lg-4 col-md-6 form-group">
              <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email">
              <div class="validate"></div>
            </div>
            <div class="col-lg-4 col-md-6 form-group">
              <input type="text" class="form-control" name="phone" id="phone" placeholder="Your Phone" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
              <div class="validate"></div>
            </div>
          </div>
          <div class="form-group">
            <textarea class="form-control" name="message" rows="5" placeholder="Input your Order here..."></textarea>
            <div class="validate"></div>
          </div>
          <div class="mb-3">
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">Your booking request was sent. We will call back or send an Email to confirm your reservation. Thank you!</div>
          </div>
          <div class="text-center"><button type="submit">Email your Order</button></div>
        </form>

      </div>
    </section><!-- End Book A Table Section -->

    <!-- ======= Gallery Section ======= -->
    <%- include('./includes/mostsales') %>

    <!-- ======= Developer Section ======= -->

    <%- include('./includes/developer') %>

    <!-- ======= Contactus Section ======= -->

    <%- include('./includes/contactus') %>
 

  </main><!-- End #main -->


  <!-- ======= Footer ======= -->
  <%- include('./includes/footer') %>